<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bongiornot.googledrivesearch</string>
	<key>connections</key>
	<dict>
		<key>03EEE961-DA8F-4E53-B3F7-5D08DA9A727A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA7BF959-01E4-4B26-86BC-5A7CDCF1895D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>124BCC22-3573-48E4-8B32-B48B03DF1486</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FFD5996-772A-43CD-BBE9-084B6A59F216</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1432FB1A-767C-4D58-853D-E5D2551E38F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A5E1CBC-F721-4F30-8EF5-28CE97B3F34A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>03EEE961-DA8F-4E53-B3F7-5D08DA9A727A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>209CE3EA-BD83-418E-9B40-D6D958DC7096</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3200BDD-90FE-486C-8128-06002561D535</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F990D79-0904-4ABF-BCC5-D680A9B45CE9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE29A8AD-EE46-4757-9993-C59F610C0514</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F990D79-0904-4ABF-BCC5-D680A9B45CE9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1EE7B49B-283E-4D35-B59D-8BB41E1E0BD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>124BCC22-3573-48E4-8B32-B48B03DF1486</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>281636B6-9609-4245-89A3-01934BA3910D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>209CE3EA-BD83-418E-9B40-D6D958DC7096</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43A8418F-4179-47A0-95B4-26DC00781D9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FC460AE-C902-43C8-826B-A5C5699DBE4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1432FB1A-767C-4D58-853D-E5D2551E38F1</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Initialize</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FF32A882-126F-40E4-AB9B-FEA56F5097D0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Return to search using manual index</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A5E1CBC-F721-4F30-8EF5-28CE97B3F34A</key>
		<array/>
		<key>61327ADE-980F-40BA-A2A8-CE6393F88918</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D652F9FB-40CB-4E40-8458-0E2B7F8CDFA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CB0394C-F107-4409-BC80-CAA0AE7C2DD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61327ADE-980F-40BA-A2A8-CE6393F88918</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE29A8AD-EE46-4757-9993-C59F610C0514</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9DFAF82-68D4-4D3B-BCD8-D7B29E8DECD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3200BDD-90FE-486C-8128-06002561D535</key>
		<array/>
		<key>D652F9FB-40CB-4E40-8458-0E2B7F8CDFA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B29E459-C8FF-400B-93C8-087C25C24B6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF32A882-126F-40E4-AB9B-FEA56F5097D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1432FB1A-767C-4D58-853D-E5D2551E38F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B29E459-C8FF-400B-93C8-087C25C24B6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tom Bongiorno</string>
	<key>description</key>
	<string>Search Google Drive files via the Google Drive File Stream app.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Drive Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require 'json'
require 'find'

query = ARGV[0]

GoogleDriveDir = ENV["GoogleDriveDir"]
GoogleDriveFiles = Dir[ File.join(GoogleDriveDir, '**', '*') ]

script_filter_items = []
GoogleDriveFiles.each do |element|
  script_filter_items.push(title: File.basename(element), subtitle: element, arg: element, icon: {type: 'fileicon', path: element})
end

File.open("GoogleDrive.json","w") do |f|
  f.write({ items: script_filter_items }.to_json)
end

print query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A5E1CBC-F721-4F30-8EF5-28CE97B3F34A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:GoogleDriveDir}</string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>3FC460AE-C902-43C8-826B-A5C5699DBE4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>status=$(mdutil -s $GoogleDriveDir)
pattern="^.*Indexing enabled\."
if ! [[ $status =~ $pattern ]] ; then mdutil $GoogleDriveDir -i on; echo indexing; fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03EEE961-DA8F-4E53-B3F7-5D08DA9A727A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Before searching, please wait for indexing to complete for {var:GoogleDriveDir}</string>
				<key>title</key>
				<string>Starting Spotlight index...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EA7BF959-01E4-4B26-86BC-5A7CDCF1895D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>filestream</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>on run argv	set theQuery to item 1 of argv	if theQuery is not "" then		tell application id "com.runningwithcrayons.Alfred" to run trigger "searchGoogleDrive" in workflow "com.bongiornot.googledrivesearch" with argument theQuery	else		return read file (POSIX file "browseGoogleDrive.json")	end ifend run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Loading...</string>
				<key>title</key>
				<string>Search Google Drive</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>43A8418F-4179-47A0-95B4-26DC00781D9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1432FB1A-767C-4D58-853D-E5D2551E38F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching Google Drive for {query}...</string>
				<key>script</key>
				<string>return (read POSIX file "GoogleDrive.json")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type to search (manual index)</string>
				<key>title</key>
				<string>Search Google Drive</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FF32A882-126F-40E4-AB9B-FEA56F5097D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9B29E459-C8FF-400B-93C8-087C25C24B6E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>searchGoogleDrive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8CB0394C-F107-4409-BC80-CAA0AE7C2DD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Type to search</string>
				<key>title</key>
				<string>Search Google Drive</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>D652F9FB-40CB-4E40-8458-0E2B7F8CDFA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "scopes" : [
        "{var:GoogleDriveDir}"
      ]
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>61327ADE-980F-40BA-A2A8-CE6393F88918</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Opening file in Google Drive...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D3200BDD-90FE-486C-8128-06002561D535</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>BE29A8AD-EE46-4757-9993-C59F610C0514</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	tell process "Finder"		set _selection to value of attribute "AXFocusedUIElement"		tell _selection to perform action "AXShowMenu"		keystroke "Open with Google Drive" --type to select contextual menu item		keystroke return --select it by hitting return	end tellend telltell application "Finder" to close window 1 --close frontmost Finder window</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9DFAF82-68D4-4D3B-BCD8-D7B29E8DECD2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>openInGoogleDrive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>281636B6-9609-4245-89A3-01934BA3910D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>{var:GoogleDriveDir}.*</string>
						<key>outputlabel</key>
						<string>Google Drive</string>
						<key>uid</key>
						<string>8F990D79-0904-4ABF-BCC5-D680A9B45CE9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Other</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>209CE3EA-BD83-418E-9B40-D6D958DC7096</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Asking user to Open with...</string>
				<key>title</key>
				<string>File not located in Google Drive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1EE7B49B-283E-4D35-B59D-8BB41E1E0BD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	tell process "Finder"		set _selection to value of attribute "AXFocusedUIElement"		tell _selection to perform action "AXShowMenu"		keystroke "Open With" --type to select contextual menu item		keystroke return --select it by hitting return	end tellend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FFD5996-772A-43CD-BBE9-084B6A59F216</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>124BCC22-3573-48E4-8B32-B48B03DF1486</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>SETUP
1. Install and set up Google Drive File Stream (https://support.google.com/a/answer/7491144).

2. Set the trigger keyword as desired. If using the default keyword ('), disable Alfred's Quick File Search mode, which also uses the ' keyword (Alfred Preferences -&gt; Features -&gt; File Search).

3. Trigger using the keyword, then hold control and press return to initialize. Indexing must complete before searching will work.

4. (Optional) If desired, set certain files (such as Office documents) to open in Google Drive rather than in the default application. Right-click a file of the desired extension in Finder and select "Get Info". Under "Open With", select openInGoogleDrive.app (located in this workflow's folder) and click "Change all".

USAGE
Trigger the workflow via the keyword (default=').

Note: The Spotlight search (default) is fast but unreliable and will also take time to be indexed at first use. If the Spotlight search is not returning results as expected, trigger the workflow via the keyword, hold option, and press return to search via the manual index (which is slow but reliable).

ADVANCED SETUP
(Only if using custom mount point) The workflow assumes Google Drive is mounted in the default location (/Volumes/GoogleDrive). For other locations, make sure the GoogleDriveDir environmental variable matches the mount point ("Default mount point" in Google File Stream's preferences panel).

IMPROVEMENTS
- Improve stability of Spotlight indexing/search for volume mounted by Google Drive File Stream
- Faster method for opening files in browser (rather than automated right-clicking in Finder)
- Fix file icons via openInGoogleDrive.app plist. Intented usage: If setting Office files to open with openInGoogleDrive.app, restart your computer to update the icons (Google Docs icon for .DOC and .DOCX, Google Sheets icon for .XLS and .XLSX, Google Slides icon for .PPT and .PPTX).</string>
	<key>uidata</key>
	<dict>
		<key>03EEE961-DA8F-4E53-B3F7-5D08DA9A727A</key>
		<dict>
			<key>note</key>
			<string>Enable Spotlight indexing of Google Drive folder if it isn't already</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>124BCC22-3573-48E4-8B32-B48B03DF1486</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>1432FB1A-767C-4D58-853D-E5D2551E38F1</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>1EE7B49B-283E-4D35-B59D-8BB41E1E0BD5</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>209CE3EA-BD83-418E-9B40-D6D958DC7096</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>281636B6-9609-4245-89A3-01934BA3910D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>2FFD5996-772A-43CD-BBE9-084B6A59F216</key>
		<dict>
			<key>note</key>
			<string>"Open with..." via right-click menu</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>3FC460AE-C902-43C8-826B-A5C5699DBE4A</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>43A8418F-4179-47A0-95B4-26DC00781D9C</key>
		<dict>
			<key>note</key>
			<string>Main keyword. Browse or Spotlight-based search.</string>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>5A5E1CBC-F721-4F30-8EF5-28CE97B3F34A</key>
		<dict>
			<key>note</key>
			<string>Update JSON</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>61327ADE-980F-40BA-A2A8-CE6393F88918</key>
		<dict>
			<key>note</key>
			<string>Set search scope from GoogleDriveDir environmental variable</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>8CB0394C-F107-4409-BC80-CAA0AE7C2DD0</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>9B29E459-C8FF-400B-93C8-087C25C24B6E</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>B9DFAF82-68D4-4D3B-BCD8-D7B29E8DECD2</key>
		<dict>
			<key>note</key>
			<string>"Open with Google Drive" via right-click menu</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>BE29A8AD-EE46-4757-9993-C59F610C0514</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>D3200BDD-90FE-486C-8128-06002561D535</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>D652F9FB-40CB-4E40-8458-0E2B7F8CDFA0</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>EA7BF959-01E4-4B26-86BC-5A7CDCF1895D</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>FF32A882-126F-40E4-AB9B-FEA56F5097D0</key>
		<dict>
			<key>note</key>
			<string>Backup search based on manual index.</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GoogleDriveDir</key>
		<string>/Volumes/GoogleDrive</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
