<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.fileimport.40CA7D0F-8B8E-4DB5-B1AA-EA2A271EA710</string>
	<key>darkthemeuid</key>
	<string>theme.custom.D45A5C83-B8FA-47CA-A759-BCFE04EBA7E1</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.40CA7D0F-8B8E-4DB5-B1AA-EA2A271EA710</string>
</dict>
</plist>
