<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.bundled.modernavenir</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.BA97F705-2ED0-4A19-BC64-84649A95717E</string>
</dict>
</plist>
