<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0499BE4B-1C14-40B2-81B9-9D7D0A2592DD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kuote</string>
			<key>text</key>
			<string>Open Kuote</string>
			<key>url</key>
			<string>https://getkuote.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>05443F94-50BA-4720-BC83-A5B1139B3078</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>book</string>
			<key>text</key>
			<string>Book a table at Op Zuid</string>
			<key>url</key>
			<string>https://www.opzuidutrecht.nl/reserveren</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>072329A8-0415-4A35-A18D-50DF95FCD851</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>innoloft</string>
			<key>text</key>
			<string>Search Innoloft Users for {query}</string>
			<key>url</key>
			<string>https://innoloft.com/search?type=users&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>08E6F1EE-76A0-4192-93F9-EE77B3930295</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>netflix</string>
			<key>text</key>
			<string>Search Netflix for {query}</string>
			<key>url</key>
			<string>https://www.netflix.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0FF17F78-087F-4D9D-934E-07A88DCF9F4B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>images</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Google Images for {query}</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}&amp;tbm=isch</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>10AE7A77-AD85-4B4C-AF36-79CC8D54B717</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reddit</string>
			<key>text</key>
			<string>Search Reddit for {query}</string>
			<key>url</key>
			<string>https://www.reddit.com/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1259FF20-722A-4BC7-9D43-F31B12AFD9AF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cal</string>
			<key>text</key>
			<string>Search Google Calendar for {query}</string>
			<key>url</key>
			<string>https://calendar.google.com/calendar/r/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>15BF32B5-B7EC-4911-8217-77A33CE7BAE1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>corona</string>
			<key>text</key>
			<string>Share of population vaccinated (NL, DE)</string>
			<key>url</key>
			<string>https://ourworldindata.org/grapher/share-people-vaccinated-covid</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1A52AE7B-D323-45B3-A0F8-73EFC512AA8E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bar</string>
			<key>text</key>
			<string>Search BarNotes for {query}</string>
			<key>url</key>
			<string>https://barnotes.co/search_web?utf8=%E2%9C%93&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1CCF6714-3760-4965-ACB9-99CB1C6C6FEB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chakra</string>
			<key>text</key>
			<string>Open Chakra UI docs</string>
			<key>url</key>
			<string>https://chakra-ui.com/docs/getting-started</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1FDDB473-0D44-4AB8-A788-AC43D9C9E625</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yt</string>
			<key>text</key>
			<string>Search YouTube for {query}</string>
			<key>url</key>
			<string>https://www.youtube.com/results?search_query={query}&amp;page={startPage?}&amp;utm_source=opensearch</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>20A0A470-FDBB-4461-8E57-43288881D2BE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bring</string>
			<key>text</key>
			<string>Open Bring</string>
			<key>url</key>
			<string>https://web.getbring.com/app/lists/0</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2279E7E3-89FD-4902-81B1-68AB7F237A44</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>logos</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Icon Ape for {query}</string>
			<key>url</key>
			<string>https://iconape.com/?s={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2B0ACD00-11FB-44B6-9BBE-3509640F964E</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>gist</string>
			<key>text</key>
			<string>Search Gists for {query}</string>
			<key>url</key>
			<string>https://gist.github.com/search?q={query}&amp;amp;ref=opensearch</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2CDCD29E-C62A-41E7-878A-D1345C9AEE8A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>canva</string>
			<key>text</key>
			<string>Search Canva designs for {query}</string>
			<key>url</key>
			<string>https://www.canva.com/search/designs?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2D46B902-43FC-47A8-A22B-04A921C3FD30</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>corona</string>
			<key>text</key>
			<string>Number of confirmed cases (NL, DE)</string>
			<key>url</key>
			<string>https://ourworldindata.org/coronavirus/country/germany#what-is-the-daily-number-of-confirmed-cases</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2E3EDE73-4899-4794-AB85-0DD09C2FB5A5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>outseta</string>
			<key>text</key>
			<string>Open Outseta (Roamflow)</string>
			<key>url</key>
			<string>https://roamflow-co.outseta.com/#/app/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>307FABA9-9E3E-4F48-A119-B0CFDA13B1C2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>raindrop</string>
			<key>text</key>
			<string>Open Raindrop</string>
			<key>url</key>
			<string>https://app.raindrop.io/my/0</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>323FD87C-4E06-4283-B3F6-E0256B2C27FC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>books</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Google Books for {query}</string>
			<key>url</key>
			<string>https://www.google.com/search?tbm=bks&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>330FF724-17F8-4138-A3E8-B5A1A75116EF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>whatsapp</string>
			<key>text</key>
			<string>Open Whatsapp</string>
			<key>url</key>
			<string>https://web.whatsapp.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3A0374AA-9A2D-40AC-8AAF-E50757AEE76B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>airtable</string>
			<key>text</key>
			<string>Search Airtable Universe for {query}</string>
			<key>url</key>
			<string>https://airtable.com/universe/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3CE66315-99DF-4452-A5AC-5CFB5E35AD7C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>brand</string>
			<key>text</key>
			<string>Go to {query} on BrandFetch</string>
			<key>url</key>
			<string>https://www.brandfetch.io/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>426C8F19-59A8-48AE-96F0-6BCCA32BB9DD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>docs miro</string>
			<key>text</key>
			<string>Open Miro Docs</string>
			<key>url</key>
			<string>https://developers.miro.com/docs</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>444FF440-7D87-4455-97D5-FF4BD613470B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>Open LinkedIn</string>
			<key>url</key>
			<string>https://www.linkedin.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>47489CCA-D77C-45C9-BD06-0A2DEF2E8E3C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>goodreads</string>
			<key>text</key>
			<string>Search Goodreads for {query}</string>
			<key>url</key>
			<string>https://www.goodreads.com/search?q={query}&amp;qid=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4BE56FC2-469B-44B5-A73E-53DFAB3BAACC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>photos</string>
			<key>text</key>
			<string>Search Google Photos for {query}</string>
			<key>url</key>
			<string>https://photos.google.com/u/1/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4C1F9920-0D2F-40F4-8BAC-238CB437A495</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mail</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Gmail for {query}</string>
			<key>url</key>
			<string>https://mail.google.com/mail/#search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4CD1D779-D709-4882-A0B0-3E9847E840D6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>airtable</string>
			<key>text</key>
			<string>Airtable (Books)</string>
			<key>url</key>
			<string>https://airtable.com/tbl3hzLIFiLUotHej/viwDNlv5eCJGorw5g?blocks=bipO9ItyEBwjOlZBV</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5119881E-E671-4C68-8BCD-C357439906E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Search Stack Overflow for {query}</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>53F45DB4-56A1-4FB0-8F0D-DBC6BD04DEA2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>minecraft</string>
			<key>text</key>
			<string>Search Minecraft</string>
			<key>url</key>
			<string>https://minecraft.gamepedia.com/Special:Search?search={query}&amp;go=Go</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>54639680-D3EC-4EB2-ADF6-708664FBB0FD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weather</string>
			<key>text</key>
			<string>Open Weer Online</string>
			<key>url</key>
			<string>https://www.weeronline.nl/Europa/Nederland/Utrecht/4058499</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>565AC3AA-DDD4-457E-8C60-91794B4F2C76</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>outseta</string>
			<key>text</key>
			<string>Open Outseta Knowledge Base</string>
			<key>url</key>
			<string>https://go.outseta.com/support/kb#/categories</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5CD88033-A9E4-4794-95A5-D11CA43BABBA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>Search LinkedIn for {query}</string>
			<key>url</key>
			<string>https://www.linkedin.com/search/results/all/?keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6263815C-229B-40D1-83D3-97C329344429</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>corona</string>
			<key>text</key>
			<string>7 day rolling average (Europe map)</string>
			<key>url</key>
			<string>https://ourworldindata.org/explorers/coronavirus-data-explorer?tab=map&amp;zoomToSelection=true&amp;time=latest&amp;region=Europe&amp;pickerSort=asc&amp;pickerMetric=location&amp;hideControls=true&amp;Metric=Confirmed+cases&amp;Interval=7-day+rolling+average&amp;Relative+to+Population=true&amp;Align+outbreaks=false&amp;country=~DEU</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>629D5D88-86DD-4B6C-A8A2-69B5E8117B80</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hn</string>
			<key>text</key>
			<string>Search Hacker News for {query}</string>
			<key>url</key>
			<string>https://hn.algolia.com/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>65E45B26-3C4E-4124-9CB3-CE97E6315EA9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mail</string>
			<key>text</key>
			<string>Open Personal Gmail</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/1/#inbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6B10116D-51DA-46B7-8FFC-6EAFF1B2F117</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chakra</string>
			<key>text</key>
			<string>Open Chakra Default Theme</string>
			<key>url</key>
			<string>https://github.com/chakra-ui/chakra-ui/tree/75edcf41e7ff4acc2569f2169949063c164d8f6e/packages/theme/src</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>79FCE034-6A12-461A-8BD4-3CCC5FAE1508</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dr</string>
			<key>text</key>
			<string>Search Dribbble for {query}</string>
			<key>url</key>
			<string>https://dribbble.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7AB0B70A-17E5-462B-BA11-4DF8A3D11581</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>drive</string>
			<key>text</key>
			<string>Open Google Drive</string>
			<key>url</key>
			<string>https://drive.google.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>800D5BE8-8E81-4867-839D-AD8B8BE04D78</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>hub</string>
			<key>text</key>
			<string>Hubspot Contacts</string>
			<key>url</key>
			<string>https://app.hubspot.com/contacts/5850243/contacts/list/view/all/?globalSearchQuery={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8193E568-00E6-4A24-8E67-401120FABAAF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reddit</string>
			<key>text</key>
			<string>Open custom feed (Web Development)</string>
			<key>url</key>
			<string>https://www.reddit.com/user/wirtzdan/m/web_development/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8354E819-BEA1-4173-8968-905D5D6DA294</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>drive</string>
			<key>text</key>
			<string>Search Google Drive for {query}</string>
			<key>url</key>
			<string>https://drive.google.com/drive/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>86F3109B-8A31-4315-9829-690C9A443A9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>t</string>
			<key>text</key>
			<string>Translate (German → Dutch)</string>
			<key>url</key>
			<string>https://www.deepl.com/translator#de/nl/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8D4CB0B7-9E76-479E-8B05-77C3B41CDF71</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>corona</string>
			<key>text</key>
			<string>Corona Measures (NL)</string>
			<key>url</key>
			<string>https://coronadashboard.rijksoverheid.nl/landelijk/maatregelen</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9633EB90-CB56-46D9-B48E-D97CAFF94FE4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>innoloft</string>
			<key>text</key>
			<string>Search Innoloft for {query}</string>
			<key>url</key>
			<string>https://innoloft.com/search?type=all&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>96F53549-A39A-4195-B95D-A56ECB0ECB45</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>maps</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Google Maps for {query}</string>
			<key>url</key>
			<string>https://www.google.com/maps/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>99577AF3-706A-4FC7-BFBD-F571C82B4024</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tailwind</string>
			<key>text</key>
			<string>Open Tailwind Colors</string>
			<key>url</key>
			<string>https://tailwindcss.com/docs/customizing-colors</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>996C5532-1E9D-4351-80A2-4CA058E8E877</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>webflow</string>
			<key>text</key>
			<string>Open Webflow (Crisp Studio)</string>
			<key>url</key>
			<string>https://webflow.com/design/dev-crisp</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9AB2F6DE-7FA1-42DB-91C4-EE3953F5D1F8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>New Article Draft</string>
			<key>url</key>
			<string>https://www.linkedin.com/post/new/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9B23D49C-DCED-4921-BEB0-037B73BB86EF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>recipe</string>
			<key>text</key>
			<string>Search NY Cooking for {query}</string>
			<key>url</key>
			<string>https://cooking.nytimes.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A0665097-7CFA-43DA-8324-EE0A90C0D54F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>miro</string>
			<key>text</key>
			<string>Open Miro (Personal Plan Board)</string>
			<key>url</key>
			<string>https://miro.com/app/board/o9J_lMqxnyE=/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A4340C9E-BBF7-487E-AC59-5E62A385EF31</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>developer</string>
			<key>text</key>
			<string>Open Developer Dashboard</string>
			<key>url</key>
			<string>https://chrome.google.com/u/1/webstore/devconsole/d5c73294-9137-4460-8921-b236a102b533</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A4C307FF-B57D-45E4-BDD9-6DEC8E125EE2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>corona</string>
			<key>text</key>
			<string>Press Conference Summaries (NL)</string>
			<key>url</key>
			<string>https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/vraag-en-antwoord</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A813747E-0FFC-4B8D-96CC-FC49DD95ADD9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chrome</string>
			<key>text</key>
			<string>Search Chrome Web Store for {query}</string>
			<key>url</key>
			<string>https://chrome.google.com/webstore/search/{query}?hl=en-US</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AB8CDFE4-7BE7-4985-A791-F8F86C5EF037</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>miro</string>
			<key>text</key>
			<string>Open Miro (Cycles 2021)</string>
			<key>url</key>
			<string>https://miro.com/app/board/o9J_lQsLE4s=/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AC287734-6983-4DD3-BC33-0D8A6C62BC8A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>webflow</string>
			<key>text</key>
			<string>Search Webflow forum {query}</string>
			<key>url</key>
			<string>https://forum.webflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ACB51556-388C-4374-8CA5-9908844361BD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>miro</string>
			<key>text</key>
			<string>Open Miro (Facilitator Masterclass)</string>
			<key>url</key>
			<string>https://miro.com/app/board/o9J_lCvY950=/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ADE3CCC9-3BCA-4C2C-BC3B-C1F2DA0E2B2B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>icons</string>
			<key>text</key>
			<string>Search Feather Icons for '{query}'</string>
			<key>url</key>
			<string>https://feathericons.com/?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AE722D8C-0564-4327-9532-3191C493B482</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spotify</string>
			<key>text</key>
			<string>Search Spotify for {query}</string>
			<key>url</key>
			<string>https://open.spotify.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B4B953CC-9F23-49AD-BF52-6B0A887C71DF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>canva</string>
			<key>text</key>
			<string>Open Canva</string>
			<key>url</key>
			<string>https://www.canva.com/folder/all-designs</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B6A429D4-C0A1-4219-8DAB-09B8502DD112</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>miro</string>
			<key>text</key>
			<string>Open Miro</string>
			<key>url</key>
			<string>https://miro.com/app/dashboard/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B8F896C3-9D7A-48FF-AC70-1B9C22B528A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>recipes</string>
			<key>text</key>
			<string>Search Kitchen Stories for {query}</string>
			<key>url</key>
			<string>https://www.kitchenstories.com/en/search?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BC9C8B3F-5E3D-4EA4-A994-474F6F2FE773</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>book</string>
			<key>text</key>
			<string>Book an appointment at Black&amp;White (Hairdresser)</string>
			<key>url</key>
			<string>https://barbershopblackandwhite.nl/Contact-Us</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BE418394-3728-48F5-A69A-500B99BCF67E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weather</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Weather for {query}</string>
			<key>url</key>
			<string>https://www.google.com/search?q=weather+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BE660FBC-A927-4774-8EDF-F4C3E80AFAE7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>outseta</string>
			<key>text</key>
			<string>Open Outseta (Facilitator School)</string>
			<key>url</key>
			<string>https://facilitator-school.outseta.com/#/app/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BEC6646C-D4F7-4CC5-8FAA-76057FCDAD55</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>canva</string>
			<key>text</key>
			<string>Search Canva templates {query}</string>
			<key>url</key>
			<string>https://www.canva.com/search/templates?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C5D8D5C8-808A-44B8-AB21-B15FE44118BB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>markplaats</string>
			<key>text</key>
			<string>Search Martkplaats for '{query}'</string>
			<key>url</key>
			<string>https://www.marktplaats.nl/q/{query}/f/zo-goed-als-nieuw/31/#f:32%7CdistanceMeters:25000%7Cpostcode:3527DZ</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D0733351-DF83-4D6F-8D52-DB6770B29263</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Wikipedia for {query}</string>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Special:Search?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D0CBDD0C-7980-4CF2-BF9D-1294192039CC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reddit</string>
			<key>text</key>
			<string>Open Custom Feed (Lifestyle)</string>
			<key>url</key>
			<string>https://www.reddit.com/user/wirtzdan/m/doing_good/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D500D572-5A2B-4AF9-B5CA-5A3057D357B8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>youtube</string>
			<key>text</key>
			<string>Youtube Studio (Facilitator School)</string>
			<key>url</key>
			<string>https://studio.youtube.com/channel/UCwTufFFhjKGWFfLfCHOhphQ</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D5653FC6-28E7-48D9-A829-6414A64174DB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>spaces</key>
			<string>-</string>
			<key>text</key>
			<string>Search Giphy tags for {query}</string>
			<key>url</key>
			<string>https://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DAC670D5-8626-4245-8AAF-6D293B04AA48</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>spaces</key>
			<string>-</string>
			<key>text</key>
			<string>Search Tenor for {query}</string>
			<key>url</key>
			<string>https://tenor.com/search/{query}-gifs</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DCBA00B9-583A-4659-B987-371BDA6FC4C9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>webflow</string>
			<key>text</key>
			<string>Open Webflow (Facilitator School)</string>
			<key>url</key>
			<string>https://webflow.com/design/facilitator-school</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DD8D82B0-4C6A-49EF-8D7C-994BD35057A9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plausible</string>
			<key>text</key>
			<string>Open Plausible</string>
			<key>url</key>
			<string>https://plausible.io/sites</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E18B99D0-B0F9-428C-AF75-E2FFADD47452</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mail</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Open Business Gmail</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/0/#inbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E47C8AAC-6CD1-4CBB-BA44-565ADFC8346B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>refind</string>
			<key>text</key>
			<string>Search Refind for {query}</string>
			<key>url</key>
			<string>https://refind.com/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E79D4C04-DFDB-4B1F-90BA-410EFE044B34</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>contacts</string>
			<key>text</key>
			<string>Search Google Contacts for {query}</string>
			<key>url</key>
			<string>https://contacts.google.com/u/1/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E94727ED-415D-418B-BC4A-7C1AB8094040</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reddit</string>
			<key>text</key>
			<string>Make a new post</string>
			<key>url</key>
			<string>https://www.reddit.com/submit</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E9EF56CD-087A-426E-9BBC-D002E93213ED</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>Open LinkedIn (Facilitator School)</string>
			<key>url</key>
			<string>https://www.linkedin.com/company/56464332/admin/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EB3F4B0F-9EC9-4669-9A1B-26B12F4EFEC8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>Open LinkedIn (Article Drafts)</string>
			<key>url</key>
			<string>https://www.linkedin.com/post/new/drafts/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EBC257BE-D137-44E9-94D7-EB6CC6671EB1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>substack</string>
			<key>text</key>
			<string>Search Substack for {query}</string>
			<key>url</key>
			<string>https://substack.com/discover/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EF316EF5-3C3E-4C29-803E-79499FC2BF39</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>alternative</string>
			<key>text</key>
			<string>Search for alternatives to {query}</string>
			<key>url</key>
			<string>https://alternativeto.net/browse/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EFFC6B50-73DC-4EFB-BE35-36A2C037AE62</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>miro</string>
			<key>text</key>
			<string>Open Miro (Website Iteration Board)</string>
			<key>url</key>
			<string>https://miro.com/app/board/o9J_lNqF8bA=/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F0ECFDD3-298E-49EF-A9B1-CD67EA62F990</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>grep</string>
			<key>text</key>
			<string>Search Grep.app for {query}</string>
			<key>url</key>
			<string>https://grep.app/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F69CD624-40B8-424D-85D3-CD22F3DEDCE6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>news</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Google News for {query}</string>
			<key>url</key>
			<string>https://www.google.com/search?tbm=nws&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FF08B0AB-2F2F-43B3-9ABC-B4F337D46788</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>firebase</string>
			<key>text</key>
			<string>Open Romaflow project</string>
			<key>url</key>
			<string>https://console.firebase.google.com/u/1/project/roamflow-app/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FF1A2AB9-A69D-4C8D-BB55-1A731B8470F9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>photos</string>
			<key>text</key>
			<string>Open Google Photos (Recent photos)</string>
			<key>url</key>
			<string>https://photos.google.com/u/1/search/_tra_</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
