<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.search.web.selection</string>
	<key>connections</key>
	<dict>
		<key>04D2A9A2-9BB5-44E6-A869-9E6C01D618CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C668E75-334F-4BAE-BF72-7D132F1F5EE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>312A1B84-7150-499E-A971-DEF1D6A0BD33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1420A89D-8F71-4CDB-B488-B77681D46562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8AF92FF-DC40-4C09-A3B9-2131866053A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17C9B5D0-0677-4B3B-89F2-3A94044EA4D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FD9488D-A627-441A-A3B8-3F1620E41AAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9C379D4-2A38-4F57-B561-D04C3F837629</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2258BABB-F780-408B-A6F3-D455C7F6945A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20EC1922-83B8-4ADE-B00E-8DB8A2A24994</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>284046C7-6E78-4ED0-982B-BE7F1F39D9A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46C06A6F-BC42-4504-AB1A-A028CCFE7239</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5464EFA0-F42F-4726-B206-8D2B3A9C1EC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>284046C7-6E78-4ED0-982B-BE7F1F39D9A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>569F1BBD-F878-4A7A-92CF-27FF5C854EEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B3BF443-4267-45B6-97F5-A5FFB58633C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17C9B5D0-0677-4B3B-89F2-3A94044EA4D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7602C016-B529-4A2B-9182-BA0739F258D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F56DD505-EE21-4AD1-BD70-124B2AEA79CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E2105A1-56C7-4712-AADC-1C5AFD0E24FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>752A3C20-74E2-4430-B29A-A5385A747DD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9273BAE9-B309-4699-84A8-413049671717</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95B628B5-C9CE-423F-B82D-20A44998E997</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46C06A6F-BC42-4504-AB1A-A028CCFE7239</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A1FBE89-6085-4850-AFEC-E2149C5C7B15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9273BAE9-B309-4699-84A8-413049671717</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BEFFF60-4ED8-4122-875D-53D15CF95B92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2A6F159-A9B6-4652-9010-736A1DFA3B93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB3829EC-14FE-4F0F-A48C-7CEABC03E786</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD510C3A-90BE-439C-BF06-EB9E362885A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04D2A9A2-9BB5-44E6-A869-9E6C01D618CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3C01172-07CB-4BD5-8D73-057C7933AA89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BEFFF60-4ED8-4122-875D-53D15CF95B92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D43BA4F3-0685-47D5-AA79-6E585A7CF3C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D6FD61A-1E20-43B2-B2C6-8216D00D40C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB8AFD33-EAA1-43C7-BD68-340F26F08DD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E536809C-0876-4720-BCC4-88C55F4E8B65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB8AFD33-EAA1-43C7-BD68-340F26F08DD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB3829EC-14FE-4F0F-A48C-7CEABC03E786</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF21AC2F-1C23-4880-9ACC-6A19B4E27DC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>569F1BBD-F878-4A7A-92CF-27FF5C854EEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4821267-D6DF-4C27-BA77-172A8B609F23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0DE97B9-993B-4BA7-BC87-FEFA38B83366</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE9A898B-B321-47BC-A2A9-6867E59F3116</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D358DB8F-FCAC-4506-94ED-18EB2EC82FE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev</string>
	<key>description</key>
	<string>Search selected text on various websites with hotkeys</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search selection</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C2A6F159-A9B6-4652-9010-736A1DFA3B93</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635218553</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>EB3829EC-14FE-4F0F-A48C-7CEABC03E786</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215725</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>17C9B5D0-0677-4B3B-89F2-3A94044EA4D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6B3BF443-4267-45B6-97F5-A5FFB58633C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/nikitavoloboev/small-workflows/master/search-selection/workflow/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/nikitavoloboev/small-workflows/master/search-selection/Search%20selection.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='7'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8AF92FF-DC40-4C09-A3B9-2131866053A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1420A89D-8F71-4CDB-B488-B77681D46562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>95B628B5-C9CE-423F-B82D-20A44998E997</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635214453</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>46C06A6F-BC42-4504-AB1A-A028CCFE7239</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>http://www.google.com/search?hl=en&amp;q={query}&amp;btnI=I</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DB8AFD33-EAA1-43C7-BD68-340F26F08DD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E536809C-0876-4720-BCC4-88C55F4E8B65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9273BAE9-B309-4699-84A8-413049671717</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9A1FBE89-6085-4850-AFEC-E2149C5C7B15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>http://stackoverflow.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9BEFFF60-4ED8-4122-875D-53D15CF95B92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D3C01172-07CB-4BD5-8D73-057C7933AA89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5464EFA0-F42F-4726-B206-8D2B3A9C1EC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/search?q={query}&amp;sort=relevance&amp;t=all</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>284046C7-6E78-4ED0-982B-BE7F1F39D9A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EF21AC2F-1C23-4880-9ACC-6A19B4E27DC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635218546</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>569F1BBD-F878-4A7A-92CF-27FF5C854EEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635218547</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>04D2A9A2-9BB5-44E6-A869-9E6C01D618CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CD510C3A-90BE-439C-BF06-EB9E362885A5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8E2105A1-56C7-4712-AADC-1C5AFD0E24FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.quora.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>752A3C20-74E2-4430-B29A-A5385A747DD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://medium.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F56DD505-EE21-4AD1-BD70-124B2AEA79CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7602C016-B529-4A2B-9182-BA0739F258D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.startpage.com/do/metasearch.pl?query={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D358DB8F-FCAC-4506-94ED-18EB2EC82FE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FE9A898B-B321-47BC-A2A9-6867E59F3116</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F4821267-D6DF-4C27-BA77-172A8B609F23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://godoc.org/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B0DE97B9-993B-4BA7-BC87-FEFA38B83366</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2258BABB-F780-408B-A6F3-D455C7F6945A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?q={query}&amp;ref=searchresults&amp;type=Code&amp;utf8=%E2%9C%93</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>20EC1922-83B8-4ADE-B00E-8DB8A2A24994</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.explainshell.com/explain/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E9C379D4-2A38-4F57-B561-D04C3F837629</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1FD9488D-A627-441A-A3B8-3F1620E41AAA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635216737</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>312A1B84-7150-499E-A971-DEF1D6A0BD33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0C668E75-334F-4BAE-BF72-7D132F1F5EE1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D43BA4F3-0685-47D5-AA79-6E585A7CF3C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://duckduckgo.com/?q=!{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8D6FD61A-1E20-43B2-B2C6-8216D00D40C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to use this workflow are found in the GitHub repo attached to the workflow. 

Double click this workflow in sidebar -&gt; Open website.

Post any issues and feature requests you have there. 💜</string>
	<key>uidata</key>
	<dict>
		<key>04D2A9A2-9BB5-44E6-A869-9E6C01D618CA</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>0C668E75-334F-4BAE-BF72-7D132F1F5EE1</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>2020</integer>
		</dict>
		<key>1420A89D-8F71-4CDB-B488-B77681D46562</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>17C9B5D0-0677-4B3B-89F2-3A94044EA4D0</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>1FD9488D-A627-441A-A3B8-3F1620E41AAA</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1880</integer>
		</dict>
		<key>20EC1922-83B8-4ADE-B00E-8DB8A2A24994</key>
		<dict>
			<key>note</key>
			<string>GitHub (Code)</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>1740</integer>
		</dict>
		<key>2258BABB-F780-408B-A6F3-D455C7F6945A</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1740</integer>
		</dict>
		<key>284046C7-6E78-4ED0-982B-BE7F1F39D9A3</key>
		<dict>
			<key>note</key>
			<string>Reddit</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>312A1B84-7150-499E-A971-DEF1D6A0BD33</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>2020</integer>
		</dict>
		<key>46C06A6F-BC42-4504-AB1A-A028CCFE7239</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>5464EFA0-F42F-4726-B206-8D2B3A9C1EC1</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>569F1BBD-F878-4A7A-92CF-27FF5C854EEF</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>6B3BF443-4267-45B6-97F5-A5FFB58633C7</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>752A3C20-74E2-4430-B29A-A5385A747DD3</key>
		<dict>
			<key>note</key>
			<string>Quora</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>1180</integer>
		</dict>
		<key>7602C016-B529-4A2B-9182-BA0739F258D9</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1320</integer>
		</dict>
		<key>8D6FD61A-1E20-43B2-B2C6-8216D00D40C4</key>
		<dict>
			<key>note</key>
			<string>DuckDuckGo (Lucky Search)</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>2150</integer>
		</dict>
		<key>8E2105A1-56C7-4712-AADC-1C5AFD0E24FD</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1180</integer>
		</dict>
		<key>9273BAE9-B309-4699-84A8-413049671717</key>
		<dict>
			<key>note</key>
			<string>GitHub</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>95B628B5-C9CE-423F-B82D-20A44998E997</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>9A1FBE89-6085-4850-AFEC-E2149C5C7B15</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>9BEFFF60-4ED8-4122-875D-53D15CF95B92</key>
		<dict>
			<key>note</key>
			<string>Stack Overflow</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>B0DE97B9-993B-4BA7-BC87-FEFA38B83366</key>
		<dict>
			<key>note</key>
			<string>GoDoc</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>1600</integer>
		</dict>
		<key>C2A6F159-A9B6-4652-9010-736A1DFA3B93</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>CD510C3A-90BE-439C-BF06-EB9E362885A5</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>D358DB8F-FCAC-4506-94ED-18EB2EC82FE3</key>
		<dict>
			<key>note</key>
			<string>StartPage</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>1460</integer>
		</dict>
		<key>D3C01172-07CB-4BD5-8D73-057C7933AA89</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>D43BA4F3-0685-47D5-AA79-6E585A7CF3C8</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>2150</integer>
		</dict>
		<key>D8AF92FF-DC40-4C09-A3B9-2131866053A3</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DB8AFD33-EAA1-43C7-BD68-340F26F08DD4</key>
		<dict>
			<key>note</key>
			<string>Google Lucky Search</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>E536809C-0876-4720-BCC4-88C55F4E8B65</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>E9C379D4-2A38-4F57-B561-D04C3F837629</key>
		<dict>
			<key>note</key>
			<string>Explain Shell</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>1880</integer>
		</dict>
		<key>EB3829EC-14FE-4F0F-A48C-7CEABC03E786</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EF21AC2F-1C23-4880-9ACC-6A19B4E27DC1</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>F4821267-D6DF-4C27-BA77-172A8B609F23</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1600</integer>
		</dict>
		<key>F56DD505-EE21-4AD1-BD70-124B2AEA79CA</key>
		<dict>
			<key>note</key>
			<string>Medium</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>1320</integer>
		</dict>
		<key>FE9A898B-B321-47BC-A2A9-6867E59F3116</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1460</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.4</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/small-workflows/blob/master/search-selection#readme</string>
</dict>
</plist>
